## 1. Titanic (Regression)

In [218]:
import torch
import torchvision
import torchvision.transforms as transforms

In [235]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LogisticRegression # 머신러닝 종류1
from sklearn.ensemble import RandomForestClassifier # 종류2

In [236]:
train_data = pd.read_csv(open(r"C:/Users/etgol/Desktop/titanic/train.csv",'r')) #데이터 읽기
test = pd.read_csv(open(r"C:/Users/etgol/Desktop/titanic/test.csv",'r')) #데이터 읽기

In [237]:
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [238]:
train_data['Embarked'] = np.where(train_data['Embarked'] == 'S', 1, train_data['Embarked']) # Embarked 문자에 숫자를 부여
train_data['Embarked'] = np.where(train_data['Embarked'] == 'C', 2, train_data['Embarked'])
train_data['Embarked'] = np.where(train_data['Embarked'] == 'Q', 3, train_data['Embarked'])
train_data['Sex'] = np.where(train_data['Sex'] == 'male', 1, train_data['Sex']) # 성별에 숫자를 부여
train_data['Sex'] = np.where(train_data['Sex'] == 'female', 2, train_data['Sex'])

test['Embarked'] = np.where(test['Embarked'] == 'S', 1, test['Embarked']) # Embarked 문자에 숫자를 부여
test['Embarked'] = np.where(test['Embarked'] == 'C', 2, test['Embarked'])
test['Embarked'] = np.where(test['Embarked'] == 'Q', 3, test['Embarked'])
test['Sex'] = np.where(test['Sex'] == 'male', 1, test['Sex']) # 성별에 숫자를 부여
test['Sex'] = np.where(test['Sex'] == 'female', 2, test['Sex'])

train_data['Age'].fillna(train_data['Age'].mean(), inplace=True) # 비어있는 나이칸에 평균 나이 부여
test['Age'].fillna(test['Age'].mean(), inplace=True)

train_data.fillna(0, inplace=True) # 나머지 비어있는(확률을 구하는데 필요없는 변수)칸에 숫자 0을 부여
test.fillna(0, inplace=True)

In [239]:
x1 = train_data[['Pclass','Sex','Age','SibSp','Fare','Parch','Embarked']]
y1 = train_data["Survived"]
x2 = test[['Pclass','Sex','Age','SibSp','Fare','Parch','Embarked']]

In [240]:
a = RandomForestClassifier(n_estimators=100) # RandomForestClassifier  확률
a.fit(x1, y1)
Y2 = a.predict(x2)
a.score(x1, y1)

0.9820426487093153

In [241]:
b = LogisticRegression() # LogisticRegression  확률
b.fit(x1, y1)
Y2 = a.predict(x2)
b.score(x1, y1)

C:\Users\etgol\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8024691358024691

In [216]:
a = RandomForestClassifier(n_estimators=100) # RandomForestClassifier  확률 csv 추출기
a.fit(x1, y1)
Y2 = a.predict(x2)
submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": Y2
    })
submission.to_csv('titanic1.csv', index=False)

In [196]:
b = LogisticRegression() # LogisticRegression  확률 csv 추출기
b.fit(x1, y1)
Y_pred = b.predict(x2)
submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": Y_pred
    })
submission.to_csv('titanic2.csv', index=False)
#csv파일변환

##  보고서[Titanic (Regression)]
1. 기존 LogisticRegression를 이용했을때 확률이 낮게 나와서 RandomForestClassifier를 사용한 결과 확률은 대략 0.18정도 상승하는 큰 효과를 볼수 있었음
2. 데이터 에 'Fare'(요금)항목을 넣었을때랑 넣지 않았을때, RandomForestClassifier기준 확률차이는 대략 0.05퍼정도로 유의미한 차이를 볼 수 있음. 추측건대 요금에 따라 시설의 차이, 객실의 위치가 다르기에 이런 현상이 나타나는것이라 판단함

## 2. Image classification with CNN

In [314]:
import torch
import torchvision
import torchvision.transforms as transforms
import numpy as np

In [365]:

trainset = torchvision.datasets.CIFAR10(
    root='./data', 
    train=True,
    download=True, 
    transform=torchvision.transforms.ToTensor()
)


testset = torchvision.datasets.CIFAR10(
    root='./data', 
    train=False,
    download=True, 
    transform=torchvision.transforms.ToTensor()
)

Files already downloaded and verified
Files already downloaded and verified

In [366]:
batch_size = 4

train_loader = torch.utils.data.DataLoader(
    trainset, 
    batch_size=batch_size,
    shuffle=True
)
test_loader = torch.utils.data.DataLoader(
    testset, 
    batch_size=batch_size,
    shuffle=False
)

In [367]:
import torch.nn as nn 


class net(nn.Module):
    def __init__(self):
        super().__init__()
        self.conv1 = nn.Conv2d(in_channels=3, out_channels=6, kernel_size=3,padding=1) # 3색이라 채널 3개
        self.conv2 = nn.Conv2d(in_channels=6, out_channels=8, kernel_size=3,padding=1)
        self.fc1 = nn.Linear(8 * 8* 8, 25)
        self.fc2 = nn.Linear(25, 15)
        self.fc3 = nn.Linear(15, 10)
        
    def forward(self, x):#(32* 32 * 3)
        x = self.conv1(x) # (32* 32 * 6)
        x = nn.functional.relu(x)
        x = nn.functional.max_pool2d(x, 2) # (16 * 16 * 6)
        x = self.conv2(x) # (16 * 16 *  8)
        x = nn.functional.relu(x)
        x = nn.functional.max_pool2d(x, 2) # (8 * 8* 8)
        
        # fully connected
        x = nn.functional.relu(x)
        x = nn.functional.relu(x)
        x = torch.flatten(x,1)
        x = self.fc1(x)
        x = self.fc2(x)
        x = self.fc3(x)
        return x

In [368]:
model = net()

# loss and optimizer
learning_rate = 0.001
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model.parameters(), learning_rate)

In [369]:
def train(model, criterion, optimizer, data):
    model.train() # 
    for x,y in data:
        optimizer.zero_grad() # zero_grad(): 미분값 초기화
        y_pred = model(x)
        loss = criterion(y_pred,y)
        loss.backward() # 역전파
        optimizer.step() # 가중치 수정

In [370]:
def evaluation(model, criterion, optimizer, data):
    model.eval() 
    test_loss = 0
    accuracy = 0
    total=0
    with torch.no_grad():
        for x, y in data:
            y_pred = model(x)
            test_loss = criterion(y_pred, y).item()
            prediction = y_pred.max(1)[1]
            total +=y.size(0)# y의 총합
            accuracy += (prediction == y).sum().item()
            accuracyt = accuracy/total # 총합으로 전개
    return test_loss, accuracyt

In [374]:
nums_epoch = 10
for epoch in range(nums_epoch):
    train(model, criterion, optimizer, train_loader)
    
    if(epoch%2==0):
        E, accu = evaluation(model, criterion, optimizer, test_loader)
        print(epoch, "loss=", E, "accu=", accu)

0 loss= 0.9999982714653015 accu= 0.6085
2 loss= 0.9537733793258667 accu= 0.601
4 loss= 0.9945063591003418 accu= 0.6039
6 loss= 0.9313428401947021 accu= 0.5999
8 loss= 0.7566298842430115 accu= 0.5928

##  보고서(Image classification with CNN)
계속 시도해봤지만 확률이 60% 이상을 넘기는 것을 보기가 어려움.
이것에 대한 원인은 evaluation에서 일어난 것으로 판단됨 
그이유는 각 물체에 대한 확률로 평균을 구했기 때문에 일어난 일이라 생각함.